/*
* ----------------------------------------------------------------------------------------
Author       : Creativepersonal
Template Name: Monster - Personal Portfolio Template
Version      : 1.0
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* 02.PRELOADER & BOUNCE CCS STYLE
* 03.HOMEPAGE CSS STYLE
    -LOGO CSS
    -MENU CSS
* 04.ABOUT CSS STYLE
* 05.SERVICE CSS STYLE
* 06.WORK CSS STYLE
* 07.AVAILABLE CSS STYLE
* 08.CONTACT CSS STYLE
* 09.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL STYLE
* ----------------------------------------------------------------------------------------
*/

body {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #232323;
}

html,
body {
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #000;
}

img {
    width: 100%;
}

a:hover {
    color: grey;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 32px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.section-padding {
    padding: 70px 0px;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    margin-top: 0;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 45px;
}

.section-title p {
    font-weight: 300;
}


/*
* ----------------------------------------------------------------------------------------
* 02.PRELOADER & BOUNCE CCS STYLE
* ----------------------------------------------------------------------------------------
*/

.preloader {
    background: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.status-mes {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -22px 0 0 -22px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 8px solid #222;
    border-right: 8px solid #222;
    border-bottom: 8px solid #222;
    border-left: 8px solid #fff;
    border-radius: 50%;
    -webkit-animation: spinner 1000ms infinite linear;
    animation: spinner 1000ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*
* ----------------------------------------------------------------------------------------
* 03.HOMEPAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-area {
    height: 100%;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.welcome-image-area {
    position: relative;
    height: 100%;
    background: url(../images/bg/bg.jpg);
    background-size: cover;
    z-index: 1;
}

.welcome-image-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.particle-bg {
    position: relative;
    height: 100%;
    background: url(../images/bg/bg2.jpg);
    background-size: cover;
    z-index: 1;
}

.particle-bg:after {
    position: absolute;
    background: rgba(0, 0, 0, .6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.header-text h1 {
    color: #fafafa;
    font-size: 80px;
    font-weight: 900;
    text-transform: capitalize;
}

.header-text .home-arrow-down {
    text-align: center;
    position: absolute;
    bottom: -210px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.header-text .home-arrow-down .btn {
    font-size: 30px;
}

.header-text .home-arrow-down .fa {
    color: #fafafa;
    display: inline-block;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation-name: home-arrow-down;
    animation-name: home-arrow-down;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes home-arrow-down {
    from {
        -webkit-transform: translate3d( 0, 0px, 0);
        transform: translate3d( 0, 0px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    10% {
        -webkit-transform: translate3d( 0, 5px, 0);
        transform: translate3d( 0, 5px, 0);
        filter: alpha(opacity=100);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    to {
        -webkit-transform: translate3d( 0, 30px, 0);
        transform: translate3d( 0, 30px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes home-arrow-down {
    from {
        -webkit-transform: translate3d( 0, 0px, 0);
        transform: translate3d( 0, 0px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    10% {
        -webkit-transform: translate3d( 0, 5px, 0);
        transform: translate3d( 0, 5px, 0);
        filter: alpha(opacity=100);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
    to {
        -webkit-transform: translate3d( 0, 30px, 0);
        transform: translate3d( 0, 30px, 0);
        filter: alpha(opacity=0);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a {
    display: block;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.mainmenu .navbar-nav li a {
    color: #fff;
    font-size: 10px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.mainmenu .navbar-nav li a:hover {
    background: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.menu-bg {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #000;
}

.menu-bg .logo {
    padding-top: 18px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.menu-bg .mainmenu .navbar-nav li a {
    color: #fff;
    padding: 20px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.menu-bg .mainmenu .navbar-nav li a:hover {
    color: #fff;
}


/*
* ----------------------------------------------------------------------------------------
* DROPDOWN CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.mainmenu ul {
    list-style-type: none
}

.mainmenu li ul.sub-menu,
.mainmenu ul li ul.sub-menu li ul.sub-menu {
    background: #000;
    left: 10px;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 115%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 120px;
    z-index: 999;
}

.mainmenu ul li ul.sub-menu li ul.sub-menu {
    top: 0;
    left: 100%;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.mainmenu ul li ul.sub-menu li {
    padding: 0;
    width: 100%;
}

.mainmenu ul li:hover ul.sub-menu {
    top: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 999;
    visibility: visible;
}

.mainmenu ul.nav > li ul li:hover ul.sub-menu {
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
}

.mainmenu ul li ul.sub-menu li a {
    color: #fff !important;
    cursor: pointer;
    display: block;
    padding: 8px 10px 12px 20px;
}

.mainmenu ul li ul.sub-menu li:last-child a {
    border-bottom: none;
}

.mainmenu ul li:hover ul.sub-menu li a:hover {
    text-decoration: none;
    background: #333;
    padding: 8px 10px 12px 20px;
}

.mainmenu ul li .user {
    margin-left: 30px;
}


/*
* ----------------------------------------------------------------------------------------
* VIDEO BACKGROUND CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.welcome-video-area {
    position: relative;
    height: 100%;
    background-size: cover;
    z-index: 1;
    background-position: center center;
}

.welcome-video-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}


/*
* ----------------------------------------------------------------------------------------
* 04.ABOUT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.about-image {}

.about-text h2 {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    color: #232323;
    letter-spacing: 2px;
    font-weight: 700;
}

.about-text p {
    font-weight: 300;
    margin-bottom: 30px;
}

.about-text ul li {
    width: 40%;
    float: left;
    margin-bottom: 25px;
    color: #a3a3a3;
    border-bottom: 1px dotted #ccc;
    display: inline-block;
    margin-right: 50px;
    padding-bottom: 10px;
}


/*
* ----------------------------------------------------------------------------------------
* 05.SERVICE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.service-area {}

.single-service i {
    font-size: 40px;
    margin-bottom: 10px;
    -webkit-transition: .3s;
    transition: .3s;
    background: #F5F5F5;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    color: #1C1C1C;
    line-height: 80px;
    float: left;
    margin-right: 25px;
    margin-bottom: 50px;
}

.single-service h2 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 20px 0px;
    -webkit-transition: .3s;
    transition: .3s;
    color: #232323;
    letter-spacing: 2px;
    font-weight: 700;
}

.single-service p {
    color: #232323;
}


/*
* ----------------------------------------------------------------------------------------
* 06.WORK CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.work {
    background: #F7F7F7;
}

.work-inner .mix {
    display: none;
}

ul.work {
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 30px;
}

ul.work li {
    display: inline-block;
    padding-bottom: 4px;
    margin: 0 8px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #938d8d;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-bottom: 2px solid transparent;
}

ul.work li:hover {
    color: #000;
    -webkit-transition: .3s;
    transition: .3s;
}

ul.work li.active {
    color: #000;
}

.work .item {
    padding: 0;
    margin: 0;
}

.work .col-md-4 {
    padding: 0;
    margin: 0;
}

.work figure.effect-ruby img {
    height: auto;
    width: 100%;
}

.work .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 100%;
    height: auto;
    text-align: center;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.work .grid figure:hover {
    background: #000;
}

.work figure.effect-ruby h2 {
    margin-top: 20%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-transition: .3s;
    transition: .3s;
    display: inline-block;
    color: #fff;
}

.work figure.effect-ruby p {
    font-size: 14px;
    text-transform: capitalize;
    border: none;
    padding: 0;
    margin: 5px 0px;
}

.work figure.effect-ruby p strong {
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 5px;
}

.work .item:hover figure.effect-ruby h2 {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transition: .3s;
    transition: .3s;
}


/*
* ----------------------------------------------------------------------------------------
* 07.TESTIMONIAL CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.testimonial-area {
    background: #F7F7F7;
}

.testimonial-list {}

.single-testimonial h2 {
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
    color: #232323;
    letter-spacing: 2px;
    font-weight: 700;
}

.single-testimonial h3 {
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 300;
    margin-top: 0;
}

.single-testimonial p {
    line-height: 25px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 5px;
    height: 5px;
    margin: 5px 7px;
    border-radius: 20px;
    background: #000;
}


/*
* ----------------------------------------------------------------------------------------
* 08.CONTACT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.contact-me-area {}

.form-control {
    display: block;
    border: 0px;
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
    background-color: #F7F7F7;
    background-image: none;
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 25px;
}

.form-control:focus {
    border-color: #000;
    outline: 0;
    box-shadow: none;
}

.contact-form button.btn {
    display: inline-block;
    color: #fff;
    background: none;
    padding: 15px 25px;
    border: 1px solid #333;
    font-size: 14px;
    border-radius: 0px;
    font-weight: 300;
    -webkit-transition: .3s;
    transition: .3s;
    background: #232323;
    text-transform: capitalize;
    border-radius: 30px;
}

.contact-form button.btn:hover {
    background: transparent;
    border: 1px solid #000;
    color: #000;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.edit-form {
    margin-bottom: 10px;
}

.input-success,
.input-error {
    margin-bottom: 0;
    margin-top: 10px;
    border-radius: 4px;
    display: none;
}

.input-success {
    border: 1px solid #01B500;
}

.input-error {
    border: 1px solid #ff0000;
}


/*
* ----------------------------------------------------------------------------------------
* 09.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.footer-area {
    background: #F7F7F7;
    padding: 80px 0px;
}

.social-links ul {
    padding: 0;
    margin: 0;
}

.social-links ul li {
    display: inline-block;
}

.social-links ul li a {
    font-size: 18px;
    color: #222222;
    margin: 25px 10px;
    display: block;
}

.header-links ul li a {
    color: #fafafa;
}

.footer-area p {
    margin-bottom: 0;
    font-size: 14px;
    color: #222222;
}


/*
* ----------------------------------------------------------------------------------------
* 17. BLOG PAGES DESIGN CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.blog-page-design-area {
    background: #000;
    padding-top: 150px;
    padding-bottom: 100px;
}

.blog-page-title-area h2 {
    color: #fff;
}

.single-blog-post {
    margin-bottom: 50px;
}

.single-blog-post h2 {
    font-size: 22px;
}

.single-blog-post a.read-more {
    background: #000;
    color: #fff;
    padding: 6px 20px;
    border: 1px solid #000;
}

.single-blog-post a.read-more:hover {
    background: transparent;
    color: #000;
    border: 1px solid #000;
}

.post-date {
    margin-bottom: 10px;
}

.post-date span {
    margin-right: 20px;
}

.post-date span i {
    margin-right: 5px;
    color: #333;
}

.single-blog-post p {
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-carosel-control {
    position: absolute;
    top: 50%;
    color: #000;
    font-size: 30px;
    margin-top: -50px;
    background: #333;
    height: 100px;
    width: 25px;
    text-align: center;
    line-height: 99px;
}

.blog-carosel-control.right {
    right: 0px;
    left: auto;
}

.pagination {
    margin: 0;
}

ul.blog_pagination li a {
    border: 1px solid #e8e8e9;
    border-radius: 0 !important;
    color: #353535;
    font-family: roboto, sans-serif;
    font-size: 16px;
    height: 35px;
    line-height: 20px;
    margin: 5px;
    width: 35px;
}

.black-icon {
    background: #333 none repeat scroll 0 0 !important;
    color: #fff !important;
}

.black-icon:hover {
    background: #333 !important;
}

.black-icon i {
    font-size: 14px;
}

ul.blog_pagination li a:hover {
    color: #fff;
    background: #333;
    border: 1px solid #333;
}

.single-side-bar {
    margin-bottom: 40px;
    overflow: hidden;
}

.single-side-bar h2 {
    margin-bottom: 15px;
    font-size: 22px;
    margin-top: 0;
    text-transform: capitalize;
}

.single-side-bar input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #333;
    border-radius: 0;
    box-shadow: none;
    color: #e3e8f0;
    height: 50px;
    float: left;
}

.single-side-bar input:hover,
.single-side-bar input:focus {
    border: 1px solid #333;
    box-shadow: none;
    outline: 0 none;
}

.single-side-bar button {
    background: #333 none repeat scroll 0 0;
    border: 1px solid #333;
    color: #fff;
    height: 42px;
    padding: 0 32px;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-side-bar button:hover {
    background: transparent;
    color: #000;
    border: 1px solid #333;
    -webkit-transition: .3s;
    transition: .3s;
}

.single-side-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.single-side-bar ul li a {
    color: #767676;
    display: block;
    font-size: 14px;
    padding: 5px 0;
}

.single-side-bar ul li a span {
    float: right;
}

.single-side-bar ul li a:hover {
    color: #333
}

.single-blog-social-icon {
    overflow: hidden;
    float: left;
    width: 177px;
    margin-bottom: 10px;
}

.single-blog-social-icon i {
    border: 1px solid #333;
    border-radius: 50px;
    float: left;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    margin-right: 15px;
    text-align: center;
    width: 50px;
}

.single-blog-social-icon .facebook {
    border: 1px solid #5d82d1;
    color: #5d82d1;
}

.single-blog-social-icon .twitter {
    border: 1px solid #00BFF3;
    color: #00BFF3;
}

.single-blog-social-icon .youtube {
    border: 1px solid #CB1D1F;
    color: #CB1D1F;
}

.single-blog-social-icon .youtube-play {
    border: 1px solid #CB1D1F;
    color: #CB1D1F;
}

.single-blog-social-icon .behance {
    border: 1px solid #0068FF;
    color: #0068FF;
}

.single-blog-social-icon .dribbble {
    border: 1px solid #EA4C8A;
    color: #EA4C8A;
}

.tag {
    overflow: hidden;
}

.tag a {
    color: #000;
    float: left;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 7px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding: 5px 8px;
    border: 1px solid #333;
}

.tag a:hover {
    color: #000;
    border: 1px solid #333;
    background: transparent;
}

.single-blog-post-details blockquote {
    font-size: 16px;
    line-height: 28px;
}

.next-previews-button-design {
    margin-top: 40px;
    overflow: hidden;
}

.next-previews-button-design a {
    color: #000;
}

.post-comments-area {
    overflow: hidden;
    margin-top: 50px;
}

.post-comments-area h2 {
    margin-bottom: 20px;
}

.single-comment {
    overflow: hidden;
    margin-bottom: 60px;
}

.single-comment img {
    float: left;
    margin-right: 50px;
    margin-bottom: 80px;
    width: 100px;
    border-radius: 50%;
}

.single-comment h5 {
    font-weight: 700;
}

.single-comment p {}

.single-comment a {
    color: #333;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-comment a:hover {
    color: #333;
}

.single-comment a i {
    font-size: 10px;
    background: #767676 none repeat scroll 0 0;
    color: #fff;
    padding: 5px;
    margin-right: 5px;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.single-comment a:hover i {
    background: #333 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    font-size: 10px;
    padding: 5px;
}

.comment-form-area {
    margin-left: 150px;
}

form input,
.comment-form-area input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #e3e8f0;
    box-shadow: none;
    color: #333;
    height: 50px;
    border-radius: 0;
}


form input:hover,
form input:focus,
.comment-form-area input:hover,
.comment-form-area input:focus {
    border: 1px solid #333;
    box-shadow: none;
    outline: 0 none;
}

form textarea,
.comment-form-area textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #e3e8f0;
    box-shadow: none;
    color: #333;
    height: 150px;
    border-radius: 0;
}

form textarea:hover,
form textarea:focus,
.comment-form-area textarea:hover,
.comment-form-area textarea:focus {
    border: 1px solid #333;
    box-shadow: none;
    outline: 0 none;
}

form button,
.comment-form-area button {
    background: #000 none repeat scroll 0 0;
    border: 1px solid #333;
    color: #fff;
    font-size: 16px;
    padding: 7px 10px;
    display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 6px;
    height: 6px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #000;
}


/*
* ----------------------------------------------------------------------------------------
* PREVIEW CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.preview-body {
    background: #fafafa;
}

.preview-single-image img {
    width: 100%;
}

.preview-single-image {
    -webkit-transition: 1s;
    transition: 1s;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.preview-single-image:hover {
    -webkit-transition: 1s;
    transition: 1s;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.preview-single-image h2 {
    font-size: 20px;
    text-align: center;
    color: #000;
    background: #fff;
    margin: 0;
    padding: 30px 20px;
}

.preview-header-top-area {
    padding: 50px 0px;
}

.preview-header-top-area h2 {
    font-size: 80px;
    color: #232323;
    text-transform: capitalize;
    font-weight: 900;
}

.preview-header-top-area p {
    color: #333;
    font-size: 30px;
    font-weight: 300;
}

.main h2 {
    color: #000;
}

.main {
    margin-bottom: 180px;
}